* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100%;
}

body {
	min-height: 100vh;
	background: #c4d7b2;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	height: 10vh;
	min-height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: #a0c49d;
	padding: 10px;
	overflow: hidden;
}

.main-cnt {
	height: 84vh;
	display: grid;
	grid-template-columns: 1.5fr 6fr;
	gap: 10px;
	padding: 20px;
}

.hd-txt {
	margin: 0;
	padding: 10px;

	color: #395144;
	font-size: clamp(1.5rem, 6vh, 4rem);
}

footer {
	height: 6vh;
	min-height: 40px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background: #e1ecc8;
	color: #000;
}

.ftr {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	font-size: clamp(10px, 1.5vw, 15px);
}

.ftr-txt {
	margin: 0;
	color: #395144;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: auto;
}

.othr-btns {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	gap: 10px;

	margin-bottom: 15px;
}

.srt-btn {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	width: 100%;
	height: 100%;

	gap: 10px;
}


.btns {
	height: 38px;
}

.btn-clr {
	color: #fff;
	background: #9dc08b;
	border: 1px solid #609966;
}

.active-btn {
	background: #228b22;
}

#reload {
	color: #fff;
	background: #f97b22;
	border: 1px solid #e63900;
}

.left-btn {
	float: left;
	margin-left: 1.5vw;
}

.right-btn {
	float: right;
	margin-right: 1.5px;
}


.slider-container {
	width: 18vw;
	height: 38px;
}

.slider {
	width: 100%;
	height: 10px;

	appearance: none;
	-webkit-appearance: none;

	background: #79ae63;
	outline: none;

	opacity: 0.7;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

/* Chrome / Edge / Safari */
.slider::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;

	width: 16px;
	height: 16px;

	background: #04aa6d;
	cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
	width: 16px;
	height: 16px;

	background: #04aa6d;
	border: none;
	cursor: pointer;
}

.lbl {
	float: right;
	height: 100%;
}

.navbar {
	display: inline;
}

.rld-div {
	display: inline-block;
	margin-left: 1.5vw;
}

.bars-cnt {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	padding: 5px;
}

.bar-prop {
	width: 8px;
	height: 100%;

	margin-bottom: 0;

	border: 1px solid #40514e;
	background: #aa8b56;
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
	box-shadow: none;
}

.spcl {
	display: none;
}

.bottom {
	position: absolute;
	bottom: -30px;

	width: 100%;

	border: 1px solid #40514e;
	text-align: center;
}

@media screen and (max-width: 1080px) {
	.main-cnt {
		grid-template-columns: 1fr;
		grid-template-rows: 1.5fr 6fr;
		width: 100%;
	}

	.menu {
		width: 100%;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}

	.othr-btns,
	.srt-btn {
		width: 100%;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}

	.othr-btns {
		margin-right: 15px;
		margin-bottom: 0;
	}

	.srt-btn {
		height: auto;
	}

	.bars-cnt {
		width: 100%;
	}
}

@media screen and (max-width: 850px) {
	.menu {
		display: block;
		overflow: auto;
	}

	.othr-btns,
	.srt-btn {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;

		width: 100%;
		gap: 10px;
	}

	.othr-btns {
		margin-right: 15px;
	}
}

@media screen and (max-width: 550px) {
	.root {
		display: none;
	}

	.spcl {
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}